.Rproj.user
.Rhistory
.RData
.Ruserdata

.DS_Store
#git rm --cached -f .DS_Store
/.quarto/

# ignore pdf and latex logs
*.pdf
*.log
*.synctex.gz
*.html


# data_raw
docs/*
mods/*
figs/*
#scripts/*


**/*.quarto_ipynb
